<h1><%= @article.title %> <%= link_to 'âœï¸', edit_article_path(@article) %><%= link_to 'ðŸ—‘', article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure??" } %></h1>
<h2><%= @article.content %></h2>

<%= link_to 'go to the home', articles_path(@articles) %>
